<div ng-controller="GibisController">
	<div id="userList">
		 <md-input-container md-no-float class="md-block">
	          <input ng-model="getAll" id="search" name="search" placeholder="Search">
	      </md-input-container>

		<md-content>	
		  	<md-list>
		  		<md-list-item class="md-3-line" ng-repeat="gibi in gibis | filter:getAll">
	  				<div class="rimless">
		  				<md-button ng-href="#/gibi/{{gibi.id}}">
		  					<img ng-src="{{gibi.editions[0].image.url}}">
		  				</md-button>
	  				</div>
	  				<div class="md-list-item-text" layout="column">
	  					<h3>Name: {{gibi.name}}</h3>
	  					<h4>Published: {{ gibi.published | date:'dd/MM/yyyy'}}</h4>
  						<h4>Publishing Company: {{ gibi.publishingCompany }}</h4>
  						<h4>Genre: {{ gibi.genre }}</h4>
	  				</div>
	  				<div></div>
	  				<md-list-item class="secondary-button-padding">
	  					<md-button class="md-secondary" ng-click="">More Info</md-button>
	  				</md-list-item>
		  		</md-list-item>
		  		
		  		<md-divider></md-divider>
			</md-list>
		</md-content>
	</div>
</div>